.title--shelf-related-products {
  color: #536271;
  font-family: "TitilliumWeb-Regular";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 20px 0px 0px 0px;
  justify-content: flex-start;
  padding: 0px;
  padding-left: 10px;
}
